# Archivos de caché y compilados de Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Entornos virtuales de Python
# Ignora cualquier directorio llamado 'venv' o que comience con '.venv'
**/venv/
**/.venv/

# Archivos de distribución de Python
build/
dist/
*.egg-info/
*.egg

# Archivos de configuración de IDEs y editores
**/.idea/
**/.vscode/
*.sublime-project
*.sublime-workspace

# Archivos específicos de TensorFlow
# Archivos de registro (logs) de TensorBoard
**/logs/
**/*tfevents*

# Puntos de control (checkpoints) de modelos
**/checkpoints/
**/*.ckpt
**/*.ckpt.index
**/*.ckpt.meta

# Modelos guardados
**/saved_model/
**/*.pb
**/*.pbtxt

# Archivos de caché de TensorFlow
**/.tf_cache/

# Archivos de configuración de Bazel (si se usa para compilar TensorFlow)
.bazelrc
bazel-*

# Archivos específicos de PyTorch
# Puntos de control (checkpoints) y modelos guardados
**/*.pt
**/*.pth

# Archivos temporales de Torch
**/.torch/

# Archivos y carpetas de procesamiento de imágenes y visión por computadora
# Conjuntos de datos (datasets) - descomentar si los datasets son muy grandes
# **/datasets/
# **/*.jpg
# **/*.jpeg
# **/*.png
# **/*.bmp
# **/*.gif
# **/*.tiff

# Modelos entrenados y sus pesos
**/models/
**/*.h5
**/*.hdf5
**/*.onnx
**/*.weights

# Resultados generados (imágenes, videos, etc.)
**/output/
**/results/

# Archivos de registro (logs) generales
**/*.log

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno local
.env

# Archivos de Jupyter Notebook
# Ignorar los puntos de control de los notebooks, pero no los notebooks en sí
.ipynb_checkpoints/

# Archivos de dependencias (para evitar duplicados si se gestionan con requirements.txt)
# Descomentar si no se quiere subir el entorno virtual completo
# lib/
# lib64/
# include/
# bin/


#Venvs

**/venv/